@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Open+Sans:wght@300&family=Roboto:wght@100;300&display=swap');
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

*{
  overflow: hidden;
}
body{
  background:linear-gradient( 45deg,#080808,#080808,#0b000c, #120015,#1a001e);
  height:100vh;
  width:100%;
  overflow: hidden;
  color: #fefaff;
  font-size: 1.5rem;
  font-family:'Dongle','Open Sans', "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  margin-top: 0px;
  margin-bottom: 0px;
}

#backgroundDrop{
  z-index: -1;
  display:flex;
  justify-content: center;
  align-items: center;
  .drops{
    z-index: -2;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    height: 175%;
    margin: auto;
    width:100%;
  }
  .drop{
    z-index: -3;
    transform: rotate(35deg);
    position:absolute;
    width:1px;
    height:100%;
    top: 0;
    left:50%;
    overflow:hidden;
    &::after{
      content: "";
      opacity: 0.5;
      display:block;
      position:absolute;
      height:10vh;
      width:100%;
      top:-25%;
      left:0;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #fbe0ffea 75%, #f6b6ffec 100% );
      animation: drop 7s 0s infinite;
      animation-fill-mode: forwards;
      animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
    }
    &:nth-child(2){
      margin-left: -25%;
      &::after{
        animation-delay: 2.2s;
      }
    }
    &:nth-child(3){
      margin-left: 25%;
      transform: rotate(40deg);
      &::after{
        animation-delay: 3s;
      }
    }
    &:nth-child(4){
      margin-left: 5%;
      transform: rotate(50deg);
      &::after{
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #f9d4ff 75%, #f5a8ff 100% );
        animation-timing-function: cubic-bezier(.65,.05,.72,.98);
        animation-delay: 3.5s;
      }
    }
    &:nth-child(5){
      margin-left: -28%;
      transform: rotate(29deg);
      &::after{
        animation-delay: 2.5s;
      }
    }
    &:nth-child(6){
      margin-left: -15%;
      transform: rotate(30deg);
      &::after{
        animation-delay: 1.2s;
        animation-timing-function: cubic-bezier(.65,.05,.67,.97);
      }
    }
    &:nth-child(7){
      margin-left: 7%;
      transform: rotate(38deg);
      &::after{
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #fadaff 75%, #f185ff 100% );
        animation-delay: 3.4s;
        animation-timing-function: cubic-bezier(.67,.06,.56,.95);
      }
    }
    &:nth-child(8){
      margin-left: -8%;
      transform: rotate(45deg);
      &::after{
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #f8c8ff 75%, #f39aff 100% );
        animation-delay: 4s;
        animation-timing-function: cubic-bezier(.77,.05,.6,.95);
      }
    }

    @keyframes drop {
      0%{
        top:-25%
      }
      100%{
        top:110%
      }
      
    }
  }
}


#mainInstrument{
  z-index: 1;
  display: flex;
  flex-direction:column;
  align-items: center;
  #switch{
    display: flex;
    align-items:flex-start;
    width: 55px;
    border-radius: 35px;
    font-size: 1rem;
    border: 1px solid #fefaff;
    color: #fefaff;  
    margin: 20px;
  }
  #dot{
    margin-left: 5%;  
    &:hover{
      text-shadow: 0px 0px 5px #fefaff;
    }
  }
  .switchrightAni{
    animation: switchR 0.8s;
    animation-fill-mode: forwards;
  }
  @keyframes switchR {
    0%{
      margin-left:5%;
      text-shadow: 0px 0px 5px #fefaff;
    }
    70%{
      margin-left:70%;
      text-shadow: 0px 0px 10px #d429ff;
    }
    100%{
      margin-left:70%;
    }
  }
  .switchleftAni{
    animation: switchL 0.8s;
    animation-fill-mode: forwards;
  }
  @keyframes switchL {
    0%{
      margin-left:70%;
      text-shadow: 0px 0px 5px #fefaff;
    }
    70%{
      margin-left:5%;
      text-shadow: 0px 0px 10px #d429ff;
    }
    100%{
      margin-left:5%;
    }
  }
  
  
  .drumStyle{
    display:flex;
    justify-content: center;
    align-items: center;
    border:1px solid rgba(254, 250, 255, 0.6);
    border-radius: 50%;
    margin: 20px;
    background: radial-gradient(transparent, transparent, #41234144,#4b284b1e);
    color:#fefaff;
    &:hover{
      background: radial-gradient(transparent, transparent, #5c2d5c44,#6b386b1e);
      border: 1px solid #fefaff;
    }
  }
  
  .drumkit{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr 50px;
    grid-template-areas: 
      "crashCymbal highTom midTom rideCymbal"
      "hatOpen snareDrum bassDrum floorTom "
      "hatClosed . . .";
    width: 750px;
    height: 550px;
    padding-right: 50px;
    padding-top: 25px;
    #crashCymbal{
      position:relative;
      top:20px;
      left: 120px;
      width: 150px;
      height:150px;
    }
    #highTom{
      position:relative;
      top:110px;
      left:50px;
      width:110px;
      height:110px;
    }
    #midTom{
      position:relative;
      left:25px;
      top: 120px;
      width:120px;
      height:120px;
    }
    #rideCymbal{
      position:relative;
      top:15px;
      right:145px;
      width:180px;
      height:180px;
    }
    #hatOpen{
      position: relative;
      bottom:105px;
      left:40px;
      width:130px;
      height:130px;
    }
    #snareDrum{
      position:relative;
      right:45px;
      bottom:20px;
      width:140px;
      height:140px;
    }
    #bassDrum{
      position: relative;
      top: 40px;
      right: 105px;
      width:220px;
      height:220px;
    }
    #floorTom{
      position:relative;
      right:165px;
      bottom:35px;
      width:160px;
      height:160px;
    }
    #hatClosed{
      position:relative;
      left: 180px;
      bottom: 140px;
      transform: rotate(-37deg);
      width: 40px;
      height: 90px;
      border-radius:5px;
    }
  }
  
  .drumAnimation{
    animation: drumWave 0.2s;
  }
  @keyframes drumWave {
    from{
      box-shadow: 0px 0px 0px #f6d1ff;
    }
    to{
      box-shadow: 0px 0px 40px #f6d1ff;
    }
  }
  
  
  .triStyle{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 25px;
    border-top:1px solid rgba(254, 250, 255, 0.6);
    border-radius: 25px;
    background: linear-gradient(#4b284b1e,#41234144, transparent, transparent, transparent, #2b1f2b46,#20112050);
    color:#fefaff;
  }
  .trikit{
    display:grid;
    align-items: center;
    justify-content: center;
    grid-template-rows: 1fr 1fr 1fr;
    padding-top: 10px;
    padding-bottom: 15px;
    width:  750px;
    height: 550px;
    #triangle{
  
      position:relative;
      top: 183px;
      right:106px;
      transform: rotate(-60deg);
    }
    #triangle_V2{
      position:relative;
      width: 350px;
      height: 25px;
      top: 43px;
      left: 181px;
      transform: rotate(60deg);
    }
    #muffle{
      top:1px;
      position:relative;
      border-bottom: 1px solid rgba(254, 250, 255, 0.6);
      border-top:none;
  
    }
  }
  .triAnimation{
    animation: triWave 0.2s;
  }
  @keyframes triWave {
    from{
      box-shadow:0px 0px 3px #080808, 0px -5px 5px #fefaff;
    }
    to{
      box-shadow:0px 0px 5px #080808, 0px -10px 10px #eaa9facc;
    }
  }
  
  .triBottomAnimation{
    animation: triBottom 0.2s;
  }
  @keyframes triBottom {
    from{
      box-shadow:0px 0px 3px #080808, 0px 5px 5px #fefaff;
    }
    to{
      box-shadow:0px 0px 5px #080808, 0px 10px 10px #e792fccc;
    }
  }
}
#myName{
  font-size: 1rem;
  #myLinkedIn{
    text-decoration: none;
    color: #faebfd;
    &:hover{
      color:#ba50d4;
    }
  }
}


@media only screen and (min-device-width: 375px) and (max-device-width: 600px) and (-webkit-min-device-pixel-ratio: 3) { 
  *{
    margin:0px;
    padding: 0px;
    overflow: hidden;
  }
  body{
    height:100vh;
    width:100vw;
  }
  
  #backgroundDrop{
    margin-right:0px;
    padding-right: 0px;
    .drops{
      transform: rotate(180deg);
    }
    .drop{
      transform: rotate(-35deg);
    }
  }
  
  #mainInstrument{
    width: 100%;
    margin-right:0px;
    padding-right: 0px;
    #switch{
      width: 45px;
    }
    @keyframes switchR {
      70%{
        margin-left:65%;
      }
      100%{
        margin-left:65%;
      }
    }

    @keyframes switchL {
      0%{
        margin-left:60%;
      }
    }
    
    .drumkit{
      margin-right:25px;
      transform: scale(0.7) rotate(90deg);
    }
    
    .trikit{
      padding-bottom: 0px;
      transform: scale(0.7) rotate(90deg);
    }
  }

  #myName{
    #myLinkedIn{
      text-decoration: wavy underline;
    }
  }
}